@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body{
    font-family: 'Quicksand',sans-serif;
    background-color: black;
    margin: 0;
    color: whitesmoke;
}

/* SCENE */
.slider{
    background-image: radial-gradient(#8b8b8b, #1d252e);
    height: 100vh;
    overflow-x: hidden;
}

#dCanvas{
    height: 100vh;
    cursor:grab;
}


/* SCENE DESCRIPTION */
.contentOne{
    position: absolute;
    height: fit-content;
    width: 30%;
    top: 20%;
    right: 5%;
    padding: 50px;
    box-sizing: border-box;
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
}

.contentTwoAction .contentTwo, .contentOneAction .contentOne{
    opacity: 1;
    pointer-events:unset;
}

.contentOne h1{
    font-size: 3.5rem;
    margin: 0 0 20px 0;
    font-weight: bold;
}

.contentOne .des{
    opacity: 0.6;
}


.contentTwo{
    position: absolute;
    width: 70%;
    left: 15%;
    bottom: 20%;
    opacity:0;
    pointer-events: none;
    transition: 0.5s;
}

.contentTwo ul{
    padding:0;
    margin: 0;
    list-style: none;
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.contentTwo ul li span:nth-child(1){
    font-size: xxx-large;
    font-weight: bold;
    display: block;
}

@keyframes showLi {
    from{
        opacity: 0;
        transform: translateY(10px);
    }to{
        opacity: 1;
        transform: translateY(0px);
    }
}

.contentTwoAction .contentTwo ul li{
    opacity: 0;
    transform:translateY(10px);
    animation: showLi 1s ease-in-out 1 forwards;
}

.contentTwoAction .contentTwo ul li:nth-child(1){
    animation-delay: 0.3s !important;
}

.contentTwoAction .contentTwo ul li:nth-child(2){
    animation-delay: 0.5s !important;
}

.contentTwoAction .contentTwo ul li:nth-child(3){
    animation-delay: 0.7s !important;
}

.contentTwoAction .contentTwo ul li:nth-child(4){
    animation-delay: 0.9s !important;
}


/* BOTÓN PARA MOSTRAR EL CONTENIDO2 AL PRESIONARLO */
button#showMore{
    position: absolute;
    cursor:pointer;
    bottom: 10%;
    left: 50%;
    transform:translateX(-50%);
    background-color: transparent;
    border: 1px solid #eee;
    border-radius: 20px;
    color: #eee;
    padding:10px 20px;
}


/* RESPONSIVE MOBILE*/
@media  screen and (max-width:768px) {
    #dCanvas{
        /* Cambia la altura del contenedor del canvas (#dCanvas) al 40% de la altura de la ventana del navegador (40vh). */
        /* Esto asegura que el lienzo 3D no ocupe demasiado espacio vertical en dispositivos móviles. */
        height: 40vh;
    }

    .contentOne, .contentTwo{
        position: relative;
        width: 90%;
        height: auto;
        opacity: 1!important; /* No hay transiciones, se hace 100% visible en todo momento */
        text-align: center;
        padding: 10px 0 0 5%;
        /* Restaura las propiedades de posicionamiento para que no interfieran con la nueva posición relativa. */
        top: unset;
        left: unset;
        right: unset;
        bottom: unset;
    }

    .contentOne h1{
        font-size: large;  
    }

    .contentTwo ul li span:nth-child(1){
        font-size: medium;
    }

    .contentTwo ul{
        padding: 20px; /*Añade un espacio interno uniforme de 20px en todos los lados del elemento <ul>*/
        box-sizing: border-box;/*Cambia el cálculo del tamaño del elemento para incluir el padding y bordes en las dimensiones declaradas, evitando desbordamientos*/
        gap: 20px;
    }

    .slider #showMore{
        display: none;/* El botón desaparece, no hay transiciones*/
    }
}